<div>
<H1> About Corsair Redesign </H1>
<p>
The initial Robert S. application was born in 1999,
with advanced technologies and a futuristic vision.
</p>
<p>
In 2019, to celebrate its 20 years, the business has decided to let it retire, and start from scratch a new application: the Redesign <sup>(TM)</sup>.
</p>
<!--
<p>
  Because starting a new application project is too easy, the IT management has decided to add a new challenge: start from scratch with new developers, and get rid of the experienced ones.
  This courageous choice shows the ambition of the new policy, as a needful wind of change.
</p>
-->

<p>
  &nbsp;
</p>

<table align="center">
  <TR>
      <TD>
        <mat-icon mat-list-icon>sports_tennis</mat-icon>
      </TD>
      <TD>
        <mat-icon mat-list-icon>sports_hockey</mat-icon>
      </TD>
      <TD>
        <mat-icon mat-list-icon>sports_cricket</mat-icon>
      </TD>
      <TD>
        <mon-icone-sq nom ="aviron1" hauteur="40"></mon-icone-sq>
      </TD>
      <TD>
        <mon-icone-sq nom ="piano1" hauteur="30"></mon-icone-sq>
      </TD>
  </TR>
</table>

</div>
