<table align=center>
<H2>
  <TR>
    <TD width=400px>
    <table>
      <TR>
        &nbsp;
      </TR>
      <TR>
        Welcome to the new version of Robert S.
      </TR>
      <TR>
        &nbsp;
      </TR>
      <TR>
        Please choose your category:
      </TR>
    </table>
    </TD>
    <TD>
      <mon-icone-sq nom="pirate1"></mon-icone-sq>
    </TD>
</H2>
</table>

<H2>
 <table height="40px">
  &nbsp;
</table>
</H2>

<table align=center class="choix">
  <TR>
    <TD align=center width="200px">
      <a [routerLink]="['/contracts']">
      <img src="https://www.iata.org/contentassets/cdd4a0eca5034d52a51f79241f9825c5/safety-flight-ops.png?w=330&h=200&mode=crop&scale=both&v=20191129103510" height=100>
      </a>
    </TD>
    <TD align=center width="200px">
      <a [routerLink]="['/hotels']">
      <img src="https://cdn2.iconfinder.com/data/icons/hotel-cartoon/512/sim3992-512.png" height=100>
      </a>
    </TD>
    <TD align=center width="200px">
      <a [routerLink]="['/shuttles']">
      <img src="https://cdn2.rcstatic.com/images/site_graphics/newsite/res_car_us.png" height=100>
      </a>
    </TD>
  </TR>
  <TR>
    <TD align=center>
      <a class="pricing-button"
          [routerLink]="['/contracts']"
        >
          CONTRACT<BR>MANAGEMENT
        </a>
    </TD>
    <TD align=center>
      <a class="pricing-button"
           [routerLink]="['/hotels']"
        >
          HOTEL<BR>MANAGEMENT
        </a>
    </TD>
    <TD align=center>
      <a class="pricing-button"
          [routerLink]="['/shuttles']"
        >
          SHUTTLES AND<BR>CAR RENTALS
        </a>
    </TD>
  </TR>
</table>


<!------------------>
<!-- Last visited -->
<!------------------>

  <div style="height: 40px;">
  </div>

<font size="-1">

<H3>
<table align=center width="600px">
  <TR>
    <TD *ngIf="!afficherLastVisited">
      <A (click)="changerLastVisited()">
        View last visited:
        <mat-icon mat-list-icon>double_arrow</mat-icon>
      </A>
    </TD>
    <TD *ngIf="afficherLastVisited">
      <A (click)="changerLastVisited()">
        Last visited:
        <mat-icon mat-list-icon>expand_more</mat-icon>
      </A>
    </TD>
</table>
</H3>
</font>

<div name="lastVisitedDiv" *ngIf="afficherLastVisited">
<H2> 
<font size="-1">

<table align=center class="menu-item" *ngFor="let contrat of lastVisited">
  <B>
  {{ contrat.country }} &nbsp;&nbsp;
  </B>

  <!-- Description en info-bulle -->
  <b *ngIf="contrat.description" [title]="contrat.description">
  {{ contrat.name }}
  </b>
  <font *ngIf="!contrat.description">
  {{ contrat.name }}
  </font>

  {{ contrat.ddv }} - {{ contrat.dfv }}

  &nbsp;
  <button
    (click)="sauverContratCourant(contrat)"
    [routerLink]="['/details']"
  >
    <mon-icone-sq nom="plane"></mon-icone-sq>
    &nbsp;
    Manage
  </button>
</table>
</font>
</H2>
</div>