<table align=center width="600px">
	<TR text-align=left>
		<TD>
			<H2>
				Please find here the partner :
			</H2>
		</TD>
		<TD width=200px>
		</TD>
	</TR>
</table>

<table align=center class="shuttle-item" *ngFor="let shuttle of shuttles">
  <TR>
    <B>
      {{ shuttle.name }}
    </B>
  </TR>
  <TR>
    <TD>
      <table>
        <TR>
          {{ shuttle.description }}
        </TR>
        <TR>
          Partnership from {{ shuttle.ddv }} to {{ shuttle.dfv }}
        </TR>
        <TR>
	        Average price: {{ shuttle.prixMoyen }} €
          / Average discount: {{ shuttle.remise }} %
        </TR>
      </table>
    </TD>
    <TD>
      <button *ngIf="shuttle.type=='rental'" (click)="gestionShuttles()">
        Manage offers
        &nbsp;
        <mat-icon class="white-icon" mat-list-icon>directions_car</mat-icon>
      </button>
      <button *ngIf="shuttle.type=='shuttle'" (click)="gestionShuttles()">
        Manage offers
        &nbsp;
        <mat-icon class="white-icon" mat-list-icon>airport_shuttle</mat-icon>
      </button>
    </TD>
</table>

<BR>
<div name="formulaire" align=center>
<h2>
  Add new partner
</h2>
<form [formGroup]="formulaireSaisie" (ngSubmit)="onSubmit(formulaireSaisie.value)">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" formControlName="name"
      required
      >
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" id="description">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="legacy" floatLabel="auto">
      <mat-label>Average price</mat-label>
      <input matInput type="number" formControlName="prixMoyen" id="prixMoyen">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Average discount %</mat-label>
      <input matInput type="number" formControlName="remise" id="remise">
    </mat-form-field>
  </div>

  <div>
    <mat-radio-group aria-label="Select a type" formControlName="type" ng-init="people=rental">
      <mat-radio-button ng-model="people" value="rental" checked>
        Car rental
      </mat-radio-button>
      &nbsp;
      <mat-radio-button ng-model="people" value="shuttle">
        Airport shuttle
      </mat-radio-button>
    </mat-radio-group>
  </div>
  
  <BR>
  <button class="button" type="submit">Add new partner</button>

</form>

</div>